<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
			</requestFiltering>
		</security>
        <defaultDocument>
            <files>
                <add value="login.php" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
